.custom-button {
  height: 40px;
  letter-spacing: 0.5px;
  line-height: 40px;
  padding: 0 30px;
  margin-bottom: 15px;
  background-color: #373748;
  border: 1px solid #373748;
  color: white;
  font-size: 18px;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: black;
    border-color: black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;
    border: none;

    &:hover {
      background-color: #357ae8;
    }
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .custom-button {
    width: calc(50% - 8px);
  }
}
