.sign-in {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  .title {
    margin-bottom: 15px;
  }

  .info {
    padding-bottom: 8px;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .sign-in {
    width: calc(0.5 * (100vw - 350px));
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .sign-in .buttons-container {
    flex-direction: row;
    justify-content: space-between;

    .custom-button {
      width: calc(50% - 8px);
    }
  }
}
