.login {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin-bottom: 15px;
  }

  .info {
    padding-bottom: 8px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}
