.cart-icon {
  margin-right: 6px;
  margin-bottom: 2px;
  width: 26px;
  height: 26px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg.shopping-icon {
    width: 26px;
    height: 26px;

    path {
      fill: #010002;
    }
  }

  .items-count {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    bottom: 0;
  }

  &:hover {
    color: #007ae5;

    svg path {
      fill: #007ae5;
    }
  }
}
