.menu-item {
  min-width: 100%;
  height: 300px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;

  &:hover {
    & .background-image {
      transform: scale(1.1);
      transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    padding: 4px 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;

    .title {
      font-weight: bold;
      font-size: large;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 300px) {
  .menu-item .content {
    width: calc(40% - 10px);

    .title {
      font-size: medium;
      text-align: center;
    }
  }
}

@media screen and (min-width: 360px) {
  .menu-item .content {
    padding: 10px 15px;
  }
}

@media screen and (min-width: 640px) {
  .menu-item {
    min-width: 40%;

    .title {
      margin-bottom: 6px;
      font-size: x-large;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-item .content {
    padding: 10px 25px;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .menu-item {
    min-width: 30%;
  }
}
