.menu-item {
  min-width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 auto 15px;
  overflow: hidden;

  &:hover {
    & .background-image {
      transform: scale(1.1);
      transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .content {
      opacity: 0.9;
    }
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .content {
    padding: 4px 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    opacity: 0.7;

    .title {
      font-weight: bold;
      color: black;
      font-size: large;
    }

    .subtitle {
      color: black;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 300px) {
  .menu-item .content {
    width: calc(40vw - 10px);

    .title {
      font-size: medium;
      text-align: center;
    }
  }
}

@media screen and (min-width: 360px) {
  .menu-item .content {
    padding: 10px 15px;
  }
}

@media screen and (min-width: 640px) {
  .menu-item {
    min-width: 40vw;
    margin: 0 7.5px 15px;

    .content .title {
      margin-bottom: 6px;
      font-size: x-large;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-item .content {
    padding: 10px 25px;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .menu-item {
    min-width: 30vw;

    .content {
      padding: 10px 25px;

      .subtitle {
        font-size: 18px;
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .menu-item {
    min-height: 100px;
    height: calc(50vh - 80px);
  }
}

@media screen and (orientation: portrait) {
  .menu-item {
    height: 29vh;
  }
}
