.log-in-and-register {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .log-in-and-register {
    margin: 0 90px;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .log-in-and-register {
    flex-direction: row;
    justify-content: space-between;
    margin: calc(0.5 * (100vh - 625px)) 100px;
  }
}
