body {
  color: #373748;
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
}

.app {
  min-width: 300px;
}

a {
  text-decoration: none;
  color: #373748;

  .title,
  > .title,
  > .name {
    &:hover {
      color: #007ae5;
      font-weight: bold;
    }
  }
}
