body {
  font-family: "Open Sans Condensed", sans-serif;
  color: #373748;
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: #373748;
}

* {
  box-sizing: border-box;
}

.app {
  margin: 20px 30px;
}
